#container {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 3px;
  border-color: aquamarine;
}

div.square {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 3px;
  border-color: gold;
}