#container {
  display: flex;
  flex-wrap: wrap;
  height: 384px;
  width: 384px;
  border-style: solid;
  border-width: 2px;
  border-color: aquamarine;
}

div.square {
  height: 20px;
  width: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: gold;
}